{% extends "basebs.html" %}
{% load humanize %}
{% block heading %}
    <script>
        $(function() {

            // Busqueda en Historial Precios
            $("#searchprecios").click(function() {
                location.href = "/consultas?action=consulta_precios&sprecios="+$("#searchfieldprecios").val().toUpperCase();
            });
            $('#searchfieldprecios').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#searchprecios").trigger("click");
                }
            });

            //Activar pestana
            $("#pestana9").addClass('current');
        });
    </script>
{% endblock %}

{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <div>
                <ul class="nav nav-tabs">
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_ventas" class="btn-form"><h3>Ventas</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_compras" class="btn-form"><h3>Compras</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_pagos" class="btn-form"><h3>Cobros</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_inventarios" class="btn-form"><h3>Inventarios</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_cajeros" class="btn-form"><h3>Cajeros</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_colaboradores" class="btn-form"><h3>Colaboradores</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_cif" class="btn-form"><h3>Historial Costos</h3></a></li>
                    <li style="margin-right: 5px" class="active"><a href="/consultas?action=consulta_precios" class="btn-form"><h3>Historial Precios</h3></a></li>
                    <li style="margin-right: 5px"><a href="/consultas?action=consulta_ordenes_servicio" class="btn-form"><h3>Ordenes Servicio</h3></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class='row-fluid'>
                            <div class="panel panel-turquesa">
                                <div class="panel-heading">
                                    <div class="row-fluid atright">
                                        <input class='searchinput input-xlarge search-query' type='text' id='searchfieldprecios' value='{{ searchprecios }}' style="text-transform: uppercase"/>
                                        <a href="#" id='searchprecios' class='btn btn-success btn-form tl' title="Buscar"><i class="fa fa-search"></i> </a>
                                        {% if searchprecios %}
                                            <a href="/consultas?action=consulta_precios" id='allresults' class='btn btn-info btn-form tl' title="Ver todos"><i class="fa fa-list"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class='table table-bordered' cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th style="width: 40px">Cod.</th>
                                            <th style="width: 100px; text-align: center">Fecha</th>
                                            <th>Producto</th>
                                            <th style="width: 100px; text-align: center">Usuario</th>
                                            <th style="width: 100px; text-align: center">Precio</th>
                                            <th style="width: 100px; text-align: center">M&oacute;dulo</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for h in historial_precios %}
                                            <tr>
                                                <td>{{ h.repr_id }}</td>
                                                <td style="text-align: center">{{ h.fecha|date:'d-m-Y' }}</td>
                                                <td>{{ h.producto.nombre_corto }}</td>
                                                <td style="text-align: center">{{ h.usuario }}</td>
                                                <td style="text-align: center">${{ h.precio|floatformat:2 }}</td>
                                                <td style="text-align: center">
                                                    {% if h.modulo == 'C' %}
                                                        Compras
                                                    {% else %}
                                                        Productos
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="10">
                                                    No existen movimientos de costos FOB en el sistema
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                {% if paging.num_pages > 20 %}
                                    <div class='pagination'>
                                        <ul>
                                            {% if paging.primera_pagina %}
                                                <li><a href="/consultas?action=consulta_precios&page=1">1</a></li>
                                                <li><a href="/consultas?action=consulta_precios&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                                            {% endif %}
                                            {% for pagenumber in paging.paginas %}
                                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}><a href="/consultas?action=consulta_precios&page={{ pagenumber }}">{{ pagenumber }}</a></li>
                                            {% endfor %}
                                            {% if paging.ultima_pagina %}
                                                <li><a href="/consultas?action=consulta_precios&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                                                <li><a href="/consultas?action=consulta_precios&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class='pagination'>
                                        <ul>
                                            {% for pagenumber in paging.page_range %}
                                                <li {% ifequal pagenumber page.number %}class='active'{% endifequal %}><a href="/consultas?action=consulta_precios&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
