{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <style>
        #formulary table td input#id_email { text-transform: none; }
    </style>
    <script>
        $(function(){

            $("#id_nombre").addClass("validate[required]");
            $("#id_nombre, #id_alias, #id_direccion, #id_telefono, #id_celular, #id_email, #id_fax").addClass("input-block-level");
            $("#id_identificacion, #id_telefono, #id_celular, #id_email, #id_fax, #id_alias, #id_pais").addClass("input-xlarge");

            //Activar pestana
            $("#pestana5").addClass('current');

        });
    </script>
{% endblock %}

{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/proveedores{% endblock %}
{% block formdestination %}/proveedores{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
{% endblock %}
{% block formback %}/proveedores{% endblock %}